



  .signpage-leftside-all{
    margin-top: 40px;

   
  }
  .signin-left-cont-heading1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
   height : 42px;
   /* top: 10308px; */
   margin-left:100px;
   padding: 10px;
   }
   .signleftpage-cont-3{
    display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px 0px 0px 0px;
   }
   .signleftpage-cont-4{
    display: flex;
     justify-content: center;
     align-items: center;
     margin: 0px 0px 0px 0px;
   }
   .signleftpage-cont-5{
    /* display: flex;
     justify-content: center;
     align-items: center; */
     margin: 50px 0px 0px 0px;
   }
   .signleftpage-cont-learnmore{
 
margin-top: 30px;
border-radius: 10px;
   }

/* //////////////////////////////////// */

   .signin-form{
    margin: 85px 0px 0px 80px;
    height:50%;
    width: 70%;
    /* background-color: aquamarine; */

   }


.log-form-control{

  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  color: black;
  transition: box-shadow 0.3s;


}
.signin-forgetpas{

  border: none;
  background-color: transparent;
  margin-top: -50px;
}
.login-botton{
  font-family: Alumni Sans;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
background-color: #DCEAFE;  
border: none;
color:  #4285F4;
border-radius: 3px;
width: 80px;
height:'60px'; 


}
.log-botton{


padding-left: 120px;
padding-top: 0px;
/* background-color: #DCEAFE;   */

}
.log-or-line{
  border: 2px;
  font: bold;
  margin: 0px 0px 0px -50px;



}
.log-or-desine{
  height: 35px;
  position: absolute;
  width:55px;
  background-color:#ffff;
  border-radius: 50%;
  padding-left: 15px;
  margin: -33px 0px 0px 150px;
 
}
.google-fb-botton{
 padding-top: 7px;
 border-radius: 20px;
 

}