.texttospeech-all-buttons{
 
}
.TTSB_btttn1{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
   

}
.TTSB_btttn2{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;

}
.TTSB_btttn3{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;

}
.TTSB_btttn4{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;

}
.Texttospeak-time{
   /* position: absolute; */
 /* margin: -30px 0px 0px -0px; */

    
}