.footer-all-component{
    /* margin-top: 80px; */
   /* padding-top: 190px; */
   position: fixed;
   /* padding: 10px 10px 0px 10px; */
   bottom: 0;
   width: 100%;
   background-color: aliceblue;
   
   /* overflow: hidden; */ 
   /* top: 0; */
   /* background-color: #fff;
   z-index: 1;
   width: 100%; */
}
.footer1content {
    font-family: 'Alumni sans';
    font-weight: 600;
    justify-content: space-between;
    letter-spacing: 0.1em;
    size: 13px;

    line-height: 15.6px;
    font-size: 11px;
    color: rgba(129, 124, 124, 1);
    Height: 16px;
    margin-left: 95px;
    
}

.footer2content {
    font-family: 'Alumni sans';
    font-weight: 600;
    justify-content: space-between;
    
    letter-spacing: 0.1em;
    size: 13px;
    margin-left: 90px;
    line-height: 15.6px;
    font-size: 11px;
        color: rgba(129, 124, 124, 1);
}
.footer-copy-right{
    font-family: 'Alumni sans';
    font-weight: 600;
    justify-content: space-between;
    size: 13px;
    margin-left: 90px;
    line-height: 15.6px;
    font-size: 15px;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
}


.footer1content{
  
 font-family: 'Alumni sans';
    font-weight: 600;
    justify-content: space-between;
    width: 100%;
    size: 13px;
    color: rgba(129, 124, 124, 1);
    padding: 10px;
}
.footer2content {
    font-family: 'Alumni sans';
    font-weight: 600;
    justify-content: space-between;
    
    letter-spacing: 0.1em;
    width: 1335px;
    size: 13px;
    margin-left: 110px;
    line-height: 15.6px;
    font-size: 10px;
    color: rgba(129, 124, 124, 1);
} 